
<footer>  
    <p>Acesta este un proiect scolar!</p>  
           <section id="Contact">
                <h2>Contact</h2>
                <section id="adresa">
                    <h6>Adresă: <a href="https://maps.google.com/?q=FMI" target="_blank">Strada Academiei 14, București 010014</a><br></h6>
                </section>
                    <section id="email">
                        <h6>Ne puteti contacta la adresa de email: <a href="mailto:info@magazinpatriot.ro">info@magazinpatriot.ro</a>
                            </h6>
                    </section>
                <section id="telephone">
                    <h6>Sau telefonic la numarul de telefon:
                        <i class="fas fa-phone fa-spin"></i> <a href="tel:+40720117044">07210 117 044</a>
                        </h6>
                </section>
                <section id="whatsapp">
                    <h6>Sau pe <a href="https://wa.me/40720117044" target="_blank">Whatsapp</a>
                    </h6>
                </section>
            </section>  
        </section>
    <a href="#" title="link-top" id="link-top">△<div id="triunghi"></div></a>
    <a href="https://www.facebook.com/Produse-Na%C8%9Bionaliste-101501088496201" target="_blank">Facebook</a> 
    <a href="https://www.instagram.com/produse_nationaliste/" target="_blank">Instagram</a> 
    <a href="https://www.youtube.com/channel/UC9J9Z">youtube</a> 
    <br>
   <p> <q cite="https://www.libertatea.ro/lifestyle/citate-mihai-eminescu-3376753"> Sau țara aceasta să fie în adevăr românească, sau nici nu merită să fie.</q> 
    Mihai Eminescu</p>
   
    <small>&copy; <time datetime="2025-02-05">2025</time> Magazin PATRIOT. Toate drepturile rezervate.</small> 
    <p>Acesta este un proiect scolar!</p>
</footer>