
    <meta charset="UTF-8">  
    <title>Magazinul ,,Hai la meci"!</title>  
    <meta name="keywords" content="magazin, patriotic, romania, tricouri, steag, tricolor, cadouri, personalizate, naționalist, produse naționaliste, România, Dacia, Peluza Nord, Peluza, Fotbal, fotbal, suporteri, ultrasi">
    <html lang="ro">
    <meta name="description" content="Magazin cu tricouri, steaguri, cadouri personalizate și multe altele.">
    <meta name="author" content="Razvan Bimbasa">
    <link rel="apple-touch-icon" sizes="180x180" href="/resources/ico/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/resources/ico/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/resources/ico/favicon-16x16.png">
    <link rel="manifest" href="/resources/ico/site.webmanifest">
    <link rel="mask-icon" href="/resources/ico/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/resources/ico/favicon.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" />
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="./resources/ico/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <meta name="msapplication-TileColor" content="#ffffff"> 
    <link rel="stylesheet" href="/resources/css/general.css">
    <link rel="stylesheet" href="/resources/css/general700.css" type="text/css" media="screen and (max-width:700px)">
    <link rel="stylesheet" href="/resources/css/general1000.css" type="text/css" media="screen and (max-width:1500px)">
    <link rel="stylesheet" href="/resources/css/nav.css">
    <link rel="stylesheet" href="/resources/css/nav700.css"type="text/css" media="screen and (max-width:700px)">
    <link rel="stylesheet" href="/resources/css/nav1000.css"type="text/css" media="screen and (max-width:1500px)">
    <link rel="stylesheet" type="text/css" href="./resources/css/print.css" media="print">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Charm:wght@400;700&family=Germania+One&display=swap" rel="stylesheet">
